* {box-sizing: border-box;}
main {
    display: grid;
    grid-template-rows: repeat(5, 240px);
    /* grid-template-columns: repeat(6, 1fr); */
    margin: 2rem;

}
.character {
    display: inline-block;
    /* grid-row: 1 / 2;
    grid-column: 1 / 6; */
}
.attackPanel {
    display: block;
    align-items: center;
    border: solid 1px red;
    width: 200px;
    height: 100px;
    font-size: 1.2rem;
}
